# virtualenv
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite

# Article Images
static/img/*

# VS Code Prefs
.vscode/

# Pylint prefs
.pylintrc
