[Unit]
Description=Your friendly local feed aggregator
After=network.target

[Service]
WorkingDirectory=/home/feedfin/feedfin
ExecStart=/home/feedfin/feedfin/venv/bin/gunicorn -w4 -b 0.0.0.0:8000 feedfin:APP
Type=Simple
User=feedfin
Group=feedfin

[Install]
WantedBy=multi-user.target
