/* space body below fixed header, bottom breathing room */
body {
    padding-top: 60px;
    padding-bottom: 25px;
}

/* keep navbar header from floating down below errything */
.navbar-header {
    float: none;
}

/* except when we need it to on small screens */
@media (max-width: 768px) {
    #navbar-links {
        margin-top: 50px;
    }
}

/* remove ugly button border, always display buttons, make button margin & padding match navbar-brand */
.navbar-toggle {
    border: none;
    display: block;
    margin: 0px;
    padding: 15px;
}

/* squish article padding */
.panel {
    margin-bottom: 10px;
}

/* make the article panes linktastic, squish article padding */
a.panel-body {
    display: block;
    padding: 8px;
}

/* squish article padding */
.panel-heading {
    padding: 8px;
}

/* limit article-list to a reasonable width */
.article-list {
    max-width: 60em;
}

/* limit edit/login/register panels to a reasonable width */
.edit-panel,
.login-panel {
    max-width: 40em;
}

/* tweak checkbox padding */
.checkbox-inline {
    margin-left: 10px;
}

/* squish form padding*/
.form-group {
    margin-bottom: 0px;
}

/* kep articles from underlining */
.article-panel:hover {
    text-decoration: none;
}

/* show the user that the article-panels are links */
.article-panel .panel {
    cursor: pointer;
}
.article-panel .panel:hover {
    box-shadow: 1px 3px #36393E;
}
