{% extends "base.html" %}
{% block title %}All Feeds{% endblock title %}
{% block content %}
    <h1>All Feeds</h1>
    <a href="{{ url_for('fetch_entity') }}"><button>Fetch Feeds</button></a>
    <ul>
    {% for article in articles %}
        <li><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></li>
        <ul>
            <li>From: <a href="{{ url_for('display') }}?entity=feed&id={{ article.feed.id }}">{{ article.feed.title }}</a></li>
            {% if article.summary %}<li>{{ article.summary }}</li>{% endif %}
            <li>Published: {{ article.published | datetime }}</li>
            {% if article.author.name != "none" %}<li>Author: {{ article.author.name }}</li>{% endif %}
        </ul>
    {% endfor %}
    </ul>
{% endblock content %}
