<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if category %}{{ category.title }}{% else %}Uncategorized{% endif %}</title>
</head>
<body>
    <h1>{% if category %}{{ category.title }}{% else %}Uncategorized{% endif %}</h1>
    <a href="{{ url_for('home') }}">Home</a>
    {% if category %}
    <a href="{{ url_for('edit_category', id=category.id) }}">Edit Category</a>
    <a href="{{ url_for('fetch_category', id=category.id) }}">Fetch Category</a>
    {% endif %}
    {% if not category %}
    <a href="{{ url_for('fetch_category') }}">Fetch Uncategorized</a>
    {% endif %}
    <ul>
    {% for article in articles %}
        <li><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></li>
        <ul>
            <li>From: <a href="{{ url_for('feed', id=article.feed.id) }}">{{ article.feed.title }}</a></li>
            {% if article.summary %}<li>{{ article.summary|safe }}</li>{% endif %}
            <li>Tags: {% for tag in article.tags if tag.label != "none" %} |{{ tag.label }}| {% endfor %}</li>
            <li>Published: {{ article.published | datetime }}</li>
            {% if article.author.name != "none" %}<li>Author: {{ article.author.name }}</li>{% endif %}
        </ul>
    {% endfor %}
    </ul>
</body>
</html>
