{% extends "base.html" %}
{% block title %}
    {{ page_title }}
{% endblock title %}
{% block navbar_insert %}
    <a class="navbar-right navbar-toggle" href="{{ url_for('edit_entity', entity=entity, id=id) }}"><span class="sr-only">Edit</span><span class="fa fa-pencil fa-lg"></span></a>
    <a class="navbar-right navbar-toggle" href="{{ url_for('fetch_entity', entity=entity, id=id) }}"><span class="sr-only">Fetch</span><span class="fa fa-refresh fa-lg"></span></a>
{% endblock navbar_insert %}
{% block content %}
<div class="container-fluid article-list">
    <h3 class="text-right">{{ page_title }}</h3>
{% for article in articles %}
    <a href="{{ article.url }}" target="_blank" class='article-panel'>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <strong class="text-info">{{ article.feed.title }}</strong>
                <small>{{ moment(article.published).format("dddd h:mma") }}</small>
                <span class="pull-right text-lowercase text-capitalize">{% if article.author %}{{ article.author }}{% endif %}</span>
            </div>
        {% if article.image %}
            <div class="panel-body row">
                <div class="col-xs-8 col-md-10">
                    <span class="text-muted">{{ article.title }}</span>
                    {% if article.summary %}{{ article.summary }}{% endif %}
                </div>
                <div class="col-xs-4 col-md-2">
                    <img src="{{ url_for('static', filename=article.image) }}" class="img-thumbnail">
                </div>
            </div>
        {% else %}
            <div class="panel-body">
                <span class="text-muted">{{ article.title }}</span>
                {% if article.summary %}{{ article.summary }}{% endif %}
            </div>
        {% endif %}
        </div>
    </a>
{% endfor %}
    <nav aria-label="Pager">
        <ul class="pager">
            <li class="previous"><a href="{{ url_for('display', entity=entity, id=id, page=page+1) }}"><span aria-hidden="true">&larr;</span> Older</a></li>
            <li class="next{% if page == 1 %} disabled{% endif %}"><a href="{{ url_for('display', entity=entity, id=id, page=page-1) }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
{% endblock content %}
