{% extends "base.html" %}
{% block title %}
    {% if type == "feed" %}
        {{ feed.title }}
    {% elif type == "all_feeds" %}
        All Feeds
    {% elif type == "category" %}
        {{ category.title }}
    {% elif type == "uncategorized" %}
        Uncategorized
    {% endif %}
{% endblock title %}
{% block navbar_insert %}
    {% if type == "feed" %}
        <a class="navbar-brand" href="{{ url_for('display') }}?entity=feed&id={{ feed.lid }}">{{ feed.title }}</a>
        <a class="navbar-right navbar-toggle" href="{{ url_for('edit_entity') }}?entity=feed&id={{ feed.id }}"><span class="sr-only">Edit Feed</span><span class="fa fa-pencil fa-lg"></span></a>
        <a class="navbar-right navbar-toggle" href="{{ url_for('fetch_entity') }}?entity=feed&id={{ feed.id }}"><span class="sr-only">Fetch Feed</span><span class="fa fa-refresh fa-lg"></span></a>
    {% elif type == "all_feeds"%}
        <a class="navbar-brand" href="{{ url_for('display') }}?entity=feed">All Feeds</span></a>
        <a class="navbar-right navbar-toggle" href="{{ url_for('fetch_entity') }}"> <span class="sr-only">Fetch Feeds</span><span class="fa fa-refresh fa-lg"></a>
    {% elif type == "category" %}
        <a class="navbar-brand" href="{{ url_for('display') }}?entity=category&id={{ category.id }}">{{ category.title }}</a>
        <a class="navbar-right navbar-toggle" href="{{ url_for('edit_entity') }}?entity=category&id={{ category.id }}"><span class="sr-only">Edit Category</span><span class="fa fa-pencil fa-lg"></span></a>
        <a class="navbar-right navbar-toggle" href="{{ url_for('fetch_entity') }}?entity=category&id={{ category.id }}"><span class="sr-only">Fetch Feeds</span><span class="fa fa-refresh fa-lg"></span></a>
    {% elif type == "uncategorized" %}
        <a class="navbar-brand" href="{{ url_for('display') }}?entity=category">Uncategorized</a>
        <a class="navbar-right navbar-toggle" href="{{ url_for('fetch_entity') }}?entity=category"><span class="sr-only">Fetch Feeds</span><span class="fa fa-refresh fa-lg"></a>
    {% endif %}
{% endblock navbar_insert %}
{% block content %}
<div class="container-fluid article-list">
    {% for article in articles %}
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <strong class="text-info">{{ article.feed.title }}</strong>
            <small>{{ moment(article.published).format("dddd h:mma") }}</small>
            <span class="pull-right">{% if article.author.name != "none" %}{{ article.author.name }}{% endif %}</span>
        </div>
        <a href="{{ article.url }}" target="_blank" class="panel-body">
            <span class="text-muted">{{ article.title }}</span>
            {% if article.summary %}{{ article.summary }}{% endif %}
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}
