{% extends "base.html" %}
{% block title %}Edit Feed{% endblock title %}
{% block content %}
    <h1>Edit Feed</h1>
    <a href="{{ url_for('display') }}?entity=feed&id={{ feed.id }}">View Feed</a>
    <form method="POST" action="{{ url_for('edit_entity') }}">
        <input type="hidden" name="entity" value="feed">
        <input type="hidden" name="id" value="{{ feed.id }}">
        <dl>
            <dt>Feed Name:</dt>
            <dd><input type="text" name="title" value="{{ feed.title }}"></dd>
            <dt>Feed Address:</dt>
            <dd><input type="text" name="url" value="{{ feed.url }}"></dd>
            <dt>Categories:</dt>
            {% if feed.categories or other_categories %}
            <dd>
            {% for c in feed.categories %}
                <label><input type="checkbox" name="category" value="{{ c.id }}" checked="checked">{{ c.title }}</label>
            {% endfor %}
            {% endif %}
            {% if other_categories %}
            {% for c in other_categories %}
                <label><input type="checkbox" name="category" value="{{ c.id }}">{{ c.title }}</label>
            {% endfor %}
            </dd>
            {% endif %}
        </dl>
        <button type="submit" name="submit" value="delete">Delete</button> <button type="submit" name="submit" value="reset">Reset</button> <button type="submit" name="submit" value="save">Save</button>
    </form>
{% endblock content %}
