{% extends "base.html" %}
{% block title %}
{% if feed %}Edit Feed{% elif category %}Edit Category{% endif %}
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <h3 class="text-right">{% if feed %}Edit Feed{% elif category %}Edit Category{% endif %}</h3>
    <div class="panel panel-default edit-panel">
        <div class="panel-body">
            <form method="POST" action="{{ url_for('edit_entity') }}">
                <input type="hidden" name="next" value="{{ next }}">
                {% if feed %}
                <input type="hidden" name="entity" value="feed">
                <input type="hidden" name="id" value="{{ feed.id }}">
                <div class="form-group">
                    <label for="feed-name">Name</label>
                    <input type="text" class="form-control" id="feed-name" name="title" value="{{ feed.title }}">
                </div>
                <div class="form-group">
                    <label for="feed-url">Address</label>
                    <input type="text" class="form-control" id="feed-url" name="url" value="{{ feed.url }}">
                </div>
                <div class="form-group">
                    <label>Categories</label></br>
                    {% if feed.categories or other_categories %}
                    {% for c in feed.categories %}
                    <div class="checkbox-inline">
                        <label><input type="checkbox" name="category" value="{{ c.id }}" checked="checked">{{ c.title }}</label>
                    </div>
                    {% endfor %}
                    {% for c in other_categories %}
                    <div class="checkbox-inline">
                        <label><input type="checkbox" name="category" value="{{ c.id }}">{{ c.title }}</label>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            {% elif category %}
                <input type="hidden" name="entity" value="category">
                <input type="hidden" name="id" value="{{ category.id }}">
                <div class="form-group">
                    <label for="cateogry-name">Name</label>
                    <input type="text" class="form-control" id="category-name" name=title value="{{ category.title }}">
                </div>
                <div class="form-group">
                    <label>Feeds</label><br>
                    {% if category.feeds or other_feeds %}
                    {% for f in category.feeds %}
                    <div class="checkbox-inline">
                        <label><input type="checkbox" name="feed" value="{{ f.id }}" checked="checked">{{ f.title }}</label>
                    </div>
                    {% endfor %}
                    {% for f in other_feeds %}
                    <div class="checkbox-inline">
                        <label><input type="checkbox" name="feed" value="{{ f.id }}">{{ f.title }}</label>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
                <div class="btn-group" role="group" aria-label="Form Controls">
                    <button class="btn btn-default" type="submit" name="submit" value="delete">Delete</button>
                    <button class="btn btn-default"  type="reset" name="submit" value="reset">Reset</button>
                    <button class="btn btn-default"  type="submit" name="submit" value="save">Save</button>
                </div>
        </form>
    </div>
</div>
{% endblock content %}
