{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
    <h1>Home</h1>
    <a href="{{ url_for('fetch_all') }}">Fetch All Feeds</a>
    <ul>
        <a href="{{ url_for('all_feeds') }}"><h3>All Feeds</h3></a>
        <a href="{{ url_for('category') }}"><h3>Uncategorized</h3></a>
        <ul>
        {% for feed in uncategorized %}
            <li><a href="{{ url_for('feed', id=feed.id) }}">{{ feed.title }}</a> <a href="{{ url_for('edit_feed', id=feed.id) }}"><em>Edit Feed</em></a></li>
        {% endfor %}
        </ul>
    {% for category in categories %}
        <a href="{{ url_for('category', id=category.id) }}"><h3>{{ category.title }}</h3></a><a href="{{ url_for('edit_category', id=category.id) }}"><em>Edit Category</em></a></li>
        <ul>
        {% if category.feeds %}
        {% for feed in category.feeds %}
            <li><a href="{{ url_for('feed', id=feed.id) }}">{{ feed.title }}</a> <a href="{{ url_for('edit_feed', id=feed.id) }}"><em>Edit Feed</em></a></li>
        {% endfor %}
        {% endif %}
        </ul>
    {% endfor %}
    </ul>
{% endblock content %}
