{% extends "secure-base.html" %}
{% block title %}Log In{% endblock title %}
{% block navbar_insert %}Log In{% endblock navbar_insert %}
{% block content %}
<div class="container-fluid">
    <div class="panel panel-default login-panel">
        <div class="panel-body">
            <form method="POST" action="{{ url_for('login') }}">
                <input type=hidden value="{{ next or '' }}" name=next>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" autofocus="autofocus">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="remember_me">Remember Me</label>
                    <div class="checkbox">
                        <label><input type="checkbox" name="remember_me" value="remember_me" checked="checked">Keep me logged in</label>
                    </div>
                </div>
                <button class="btn btn-default" type="submit" name="login" value="login">Log In</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
