{% extends "base.html" %}
{% block navbar %}
<div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('display') }}">feedfin</a>
            <span class="navbar-brand">{% block nav-title %}{% endblock nav-title %}</span>
        </div>
    </div>
</div>
<div class="container-fluid">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert"><span class="fa fa-times-circle" aria-hidden="true"></span></button>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endblock navbar %}
